@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration:none;
}
body{
	background: url(img/concrete-trans.png) #353535;
}
input:focus{
	outline:none;
}
.wrapper{
	width:1200px;
	margin:0 auto;
}
.header {
background: url(img/stripes.png);
border-bottom: 2px dashed #74d68e;
box-shadow: 0 5px 0 #353535;
margin-bottom: 5px;
font-family: 'Open Sans Condensed', sans-serif;
}
.bg-img {
background: url(img/header-bg.jpg);
background-size: cover;
height: 400px;
}
.board {
background: url(img/concrete.jpg);
background-size: cover;
height: 500px;
position:relative;
}
.content {
background: url(img/stripes-2.png) white;
}
.footer {
background: url(img/concrete.png);
}
.menu a{
	color:#fff;
	font-family: 'Roboto', sans-serif;
}
.menu > ul > li > a {
	padding-top: 2em;
	padding-bottom: 1em;
	display: block;
}
.menu li {
display: inline-block;
}
.menu li:nth-of-type(3){
	margin-right: 20%;
}
.menu li:nth-of-type(2){
	margin-left: -20px;
	margin-right: -40px;
}
.menu{
	text-align:justify;
	position:relative;
}
.menu ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.logo {
position: absolute;
width: 200px;
height: 200px;
display: block;
left: 50%;
top: 2px;
margin-left: -100px;
}
.logo img{
position: absolute;
top: 0;
width: 100%;
z-index: 2;
cursor: pointer;
-webkit-transform: rotateX(0deg) rotateY(0deg);
-moz-transform: rotateX(0deg) rotateY(0deg);
-o-transform: rotateX(0deg) rotateY(0deg);
-ms-transform: rotateX(0deg) rotateY(0deg);
transform: rotateX(0deg) rotateY(0deg);
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
}
.logo:before {
position: absolute;
width: 120%;
content: "";
height: 120%;
left: -10%;
bottom: -10%;
background: url(img/stripes.png);
border-radius: 50%;
z-index: 2;
}
.logo-home {
position: absolute;
top: 0;
height: 100%;
width: 100%;
left: 0;
z-index: 1;
cursor: pointer;
-webkit-transform: rotateX(-180deg);
-moz-transform: rotateX(-180deg);
-o-transform: rotateX(-180deg);
-ms-transform: rotateX(-180deg);
transform: rotateX(-180deg);
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
backface-visibility: hidden;
background: #74d68e;
color: #F0F0F0;
text-align: center;
line-height: 80px;
font-size: 40px;
border-radius: 50%;
-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
}

.home {
font-size: 12px;
height: 1em;
width: 0.5em;
margin-top: 1em;
margin-left: -1em;
border-bottom: none;
border-right: 1.5em solid #FFF;
border-left: 1.5em solid #FFF;
border-top: 1.4em solid #FFF;
position: absolute;
top: 40%;
left: 45%;
}

.home::before {
border-left: 2.4em solid transparent;
position: absolute;
content: "";
top: -2.8em;
right: -2.1em;
width: 0em;
height: 0em;
border-right: 2.4em solid transparent;
border-bottom: 1.5em solid #FFF;
}
.logo:hover img{
	-webkit-transform: rotateX(180deg);
-moz-transform: rotateX(180deg);
-o-transform: rotateX(180deg);
-ms-transform: rotateX(180deg);
transform: rotateX(180deg);
	}

.logo:hover .logo-home {
	-webkit-transform: rotateX(0deg);
-moz-transform: rotateX(0deg);
-o-transform: rotateX(0deg);
-ms-transform: rotateX(0deg);
transform: rotateX(0deg);
z-index: 3;
}
.sidebar-top {
background: url(img/stripes.png);
font-family: 'Open Sans Condensed', sans-serif;
}
.share li {
float: left;
margin-right: 20px;
}
.share {
float: left;
margin-top: 2em;
margin-bottom: 2em;
}
.share:after,.community:after{
	content:"";
	display:block;
	clear:both;
}
.members-login {
background: url(img/stripes-2.png) #74D68E;
width: 249px;
position: absolute;
right: 0;
top: -5px;
box-shadow: -2px 0px 0px rgba(0, 0, 0, 0.15);
min-height: 130px;
}
.members-login:after {
content: "";
position: absolute;
bottom: -39px;
left: -2px;
background: url(img/bas-form.png) no-repeat;
background-size: 100%;
width: 251px;
height: 39px;
}
.community {
position: relative;
}
.members-login p {
font-size: 1.6em;
margin: 5px;
}
.members-login input {
background: #6F6F6F;
border-radius: 4px;
border: none;
border-bottom: 1px solid rgba(255, 255, 255, 0.43);
box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.16);
width: 90%;
margin: 0.5em auto;
display: block;
height: 2em;
text-indent: 5px;
}

.members-login input[type="submit"] {
height: 0;
opacity: 0;
margin-top: 18px;
-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
width: 3em;
text-align: center;
text-indent: 0;
background: #FFF;
font-weight: bold;
border-radius: 50%;
line-height: 3em;
cursor: pointer;
}
.members-login .members-login-input.mdp:focus + input[type="submit"]{
	height:3em;
	opacity:1;
}

.board-mail {
background: url(img/crumpled.png) #474747 no-repeat;
background-position:50% 50%;
background-size:cover;
height: 130px;
width: 150px;
display: block;
position: absolute;
top: 17%;
left: 20%;
box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.06);
}
.board-numbers {
background: url(img/crumpled.png) #c7c7c7 no-repeat;
background-position:50% 50%;
background-size:cover;
height: 210px;
width: 185px;
display: block;
position: absolute;
top: 45%;
right: 15%;
box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.2);
}

.board-project {
background: url(img/crumpled.png) #8ce19f no-repeat;
background-position:50% 50%;
background-size:cover;
height:180px;
width: 240px;
display: block;
position: absolute;
top: 5%;
left: 40%;
box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.2);
}
.board-realisations {
background: url(img/crumpled.png) #9f9e9e no-repeat;
background-position:50% 50%;
background-size:cover;
height: 100px;
width: 350px;
display: block;
position: absolute;
top: 15%;
right: 10%;
box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.06);
}
.board-team {
background: url(img/crumpled.png) #DAD9D9 no-repeat;
background-position: 50% 50%;
background-size: cover;
height: 200px;
width: 400px;
display: block;
position: absolute;
top: 50%;
left: 5%;
box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.2);
}
.board-blog {
background: url(img/crumpled.png) #474747 no-repeat;
background-position:50% 50%;
background-size:cover;
height: 250px;
width: 240px;
display: block;
position: absolute;
top: 45%;
left: 45%;
box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.06);
}

.content h1 {
color: #74D68E;
background: url(img/concrete-trans.png) #353535;
display: inline-block;
padding: 0.5em;
padding-left: 0;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: bold;
font-size: 2em;
margin-top: 1em;
margin-bottom: 1em;
position:relative;
}
.content h1:before {
position: absolute;
content: "";
height: 100%;
width: 3000px;
background: url(img/concrete-trans.png) #353535;
left: -3000px;
top: 0;
}
@media screen and (max-width:1200px) {
	.wrapper{
		width:100%;
	}
}